<main id='movie-list'>
    <div id='controls'>
        <span class='last-updated'>
            Last updated: {{lastUpdated ? lastUpdated : '... ?'}}
        </span>
        <SecondaryButton
            label='Refresh Data'
            on:click='handleRefresh()' />
        {{#if fetching}}
            <Spinner />
        {{/if}}

        <div>
            <div>
                <SecondaryButton
                    label='{{displayTimesInPast ? "Hide" : "Show"}} times in past'
                    on:click='toggleTimesInPast()' />
            <!--{{#if displayTimesInPast}}-->
            <br />(times in the past are crossed off when shown)
            <!--{{/if}}-->
            </div>
        </div>

        <!--TODO: need to implement or erase-->
        <!--<SecondaryButton
            label='{{allExpanded ? "Collapse" : "Expand"}} all movies'
            on:click='toggleMoviesExpanded()' />-->
    </div>

    <!--movies listing-->
    {{#if movies.length === 0}}
        <div class='centered'>
            <Spinner />
        </div>
    {{else}}
        {{#each movies as movie, i}}
            <div class='movie'>
                <div class='movie__title' on:click='expandMovie(i)'>
                    <h1>{{movie.title}} <small>{{movie.runtime}}</small></h1>
                </div>
                <ShowtimesList
                    movie={{movie}}
                    isExpanded={{isExpanded[i]}}
                    displayTimesInPast={{displayTimesInPast}} />
            </div>
        {{/each}}
    {{/if}}
</main>


<script>
    import SecondaryButton from './SecondaryButton';
    import ShowtimesList from './ShowtimesList';
    import Spinner from './Spinner';
    const axios = require('axios');
    const formatDate = require('../../lib/util/formatDate');
    const sortObjectsByProp = require('../util/sortObjectsByProp')

    export default {
        data() {
            return {
                movies: [],
                isExpanded: [],
                lastUpdated: null,
                fetching: false,
                displayTimesInPast: true
            }
        },
        methods: {
            handleRefresh() {
                const self = this;

                self.set({ fetching: true });

                axios.get('/refresh')
                .then(response => {
                    self.set({ fetching: false });
                    if (!response.error && response.data.movies.length > 0) {
                        // create an array the same length as the movies response
                        const isExpanded = Array
                            // fills with "undefined"
                            .apply(null, Array(response.data.movies.length))
                            // fills each with false
                            .map(() => false);
                        const sortedMovies = response.data.movies
                            // pass a callback that alphabetizes by title
                            .sort(sortObjectsByProp('title'))
                        self.set({
                            movies: sortedMovies,
                            isExpanded: isExpanded,
                            lastUpdated: formatDate(new Date(), true)
                        });
                    }
                }, err => {
                    console.log(err)
                })
                .catch(err => {
                    self.set({ fetching: false });
                    alert('There was an error retrieving the data:', err);
                })

                /*6/11/17 - instead of calling this, just update the date when I get a response*/
                // populate lastUpdated
                // axios.get('/last-updated')
                // .then(response => {
                //     console.log(response.data.lastUpdated);
                //     self.set({ lastUpdated: formatDate(new Date(response.data.lastUpdated), true) });
                // })
                // .catch(err => {
                //     console.log('error getting "last updated"', err);
                // });
            },
            expandMovie(i) {
                // console.log('expanding movie');
                const isExpanded = this.get('isExpanded').map((bool, index, original) => {
                    // if it is the same index as passed in, return the opposite value
                    if (index === i) {
                        return !original[index];
                    }
                    return bool;
                });
                // console.log(isExpanded)
                this.set({ isExpanded: isExpanded });
            },
            toggleTimesInPast() {
                this.set({ displayTimesInPast: !this.get('displayTimesInPast') });
            }
        },
        oncreate() {
            const self = this;

            // populate movies
            axios.get('/movies')
            .then(response => {
                // create an array the same length as the movies response
                const isExpanded = Array
                    // fills with "undefined"
                    .apply(null, Array(response.data.movies.length))
                    // fills each with false
                    .map(() => false);
                const sortedMovies = response.data.movies
                    // pass a callback that alphabetizes by title
                    .sort(sortObjectsByProp('title'))
                // debugging for movies without any times listed
                // console.log(sortedMovies);
                // sortedMovies.forEach(movie => {
                //     movie.showtimes.forEach(showtime => {
                //         if (showtime.times === undefined || showtime.times === null) {
                //             console.log(movie)
                //         }
                //     })
                // })
                self.set({
                    movies: sortedMovies,
                    isExpanded: isExpanded
                });
            });

            // populate lastUpdated
            axios.get('/last-updated')
            .then(response => {
                self.set({ lastUpdated: formatDate(new Date(response.data.lastUpdated), true) });
            })
            .catch(err => {
                console.log('error getting "last updated"', err);
            });
        },
        components: {
            SecondaryButton,
            ShowtimesList,
            Spinner
        }
    }
</script>