<nav>
    {{#each views as view}}
        <button role="button"
            on:click='fire("click", {view})'
            name='{{view.id}}'
            class="tabLink btn--nav {{active === view.id ? 'active' : ''}}"
            id="{{view.id}}-button"
            href="#">{{view.title}}</button>
    {{/each}}
</nav>