<div class="showtimes {{isExpanded ? 'expanded' : 'collapsed'}}">
  <!--if the environment isn't production, save network resources and don't show these images-->
  {{#if env === 'production'}}
    <a href='{{movie.link}}'>
        <img src='{{movie.imageSrc}}' />
    </a>
  {{/if}}

  <!--list each theater that is playing the movie-->
  {{#each movie.showtimes as listing}}
    <h2>{{listing.theater}}</h2>
    <!--if all the times are empty, show a helpful message so it doesn't look like an error-->
    {{#if isEveryShowtimeInPast(listing.times) && !displayTimesInPast}}
    <span>
      Bummer! It looks likes all this theater's times have passed!
    </span>
    <!--if there are times to be shown, show them!-->
    {{else}}
      {{#if listing.times === undefined || listing.times.length === 0}}
      <span>Looks like there was an issue getting the times for this film and theater.</span>
      {{else}}
      <ul>

        <!--list each theater's showtimes-->
        {{#each listing.times as time}}
          {{#if isShowtimeInPast(time)}}
            <!--only display past times if checkbox is checked-->
            {{#if displayTimesInPast}}<li><s>{{time}}</s></li>{{/if}}
          {{else}}
            <li>{{time}}</li>
          {{/if}}
        {{/each}}
      </ul>
      {{/if}}
    {{/if}}
  {{/each}}
</div>

<script>

  const isShowtimeInPast = require('../util/isShowtimeInPast');
  const isEveryShowtimeInPast = require('../util/isEveryShowtimeInPast');

  export default {
      data() {
          return {
              env: process.env.NODE_ENV,
              isExpanded: false
          }
      },
      helpers: {
          isShowtimeInPast,
          isEveryShowtimeInPast
      }
  }
</script>
