<!--theaters listing-->
<main id='theater-list'>
    {{#if theaters.length === 0}}
    {{else}}
    These are all the theaters that were queried:
    <ul>
        {{#each theaters as theater}}
        <li>{{theater.displayName}}</li>
        {{/each}}
    </ul>
    {{/if}}
</main>


<script>
    const axios = require('axios');
    const sortObjectsByProp = require('../util/sortObjectsByProp')

    export default {
        data() {
            return {
                theaters: []
            }
        },
        oncreate() {
            const self = this;
            axios.get('/theaters')
            .then(response => {
                const sortedTheaters = response.data
                    // pass a callback that alphabetizes by displayName
                    .sort(sortObjectsByProp('displayName'));
                self.set({theaters: sortedTheaters});
            });
        }
    }
</script>