<!--
  This component expects two properties to be passed
  {array} views an array of components
  {string} active a string that should match one of the view ids
  
-->
{{#each views as view}}
    <div id='{{view.id}}' class='tab {{active === view.id ? 'active' : ''}}'></div>
{{/each}}

<script>
    export default {
        oncreate() {
            // this.get will retrieve the prop "views" that is passed into the component
            const views = this.get('views');
            views.forEach(function(view) {
                new view.component({
                    target: document.getElementById(view.id)
                })
            });
        }
    };
</script>