// could remove breakpoints, not actually using it anywhere
// @import './_breakpoints';

* {
  font-family: inherit;
  color: $body-color;
  box-sizing: border-box;
  font-size: inherit;
}

html, body {
  font-family: $font-family-base;
  background-color: $body-bg;
}

main {
  padding: 2%;
}

.centered {
  text-align: center;
}
