@mixin btn-main () {
  border: 0;
  text-transform: uppercase;
  background-color: $body-bg;
  margin: 0.2rem;
  cursor: pointer;
}

.tabLink {
  @include btn-main();

  &.active {
    background-color: $primary;
  }
  width: 45%;
  margin: 2.5%;
  font-size: 1.5rem;
}

.btn-secondary {
  @include btn-main();

  border: 1px solid $body-color;

  &:hover {
    background-color: $primary;
  }
}

// overwrite cutestrap's default button color
.btn, .btn-secondary, button, [type="input"], [type="button"], [type="submit"] {
  color: $body-color;
}
