// override cutestrap defaults
h1 {
  font-size: 2.0rem;
  line-height: 2.5rem;
  padding: 1rem 0 1rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.0rem;
  padding: 0.5rem 0 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  small {
    font-size: 0.6em;
  }
}
