.expanded {
  display: block;
}

.collapsed {
  display: none;
}

.movie {
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #000;

  .movie__title {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $primary;
    }
  }
}

.showtimes {
  padding: 0 0.5rem 0.5rem 0.5rem;
}
