//
// Colors
//

$primary: #7CB7DE;
$body-bg: #fdfdfd;
$body-color: #222;

//
// Fonts
//
$font-family-base: sans-serif;
$font-weight-base: normal;

@import '../node_modules/cutestrap/dist/scss/cutestrap';
@import './css/body';
@import './css/tabs';
@import './css/movies';
@import './css/buttons';
@import './css/headers';
